__pycache__
.vscode
.ipynb_checkpoints
.DS_Store
.data
.vector_cache

archive
my_cache
test_trainer
test-trainer
bert_dataset
trained_model
results
results_qlora
output
qlora_final_model
model_output3
backup
ppo-good
ppo-bad
dpo
bert-finetuned-ner
distilbert-base-uncased-finetuned-imdb
marian-finetuned-kde4-en-to-fr


src
tmp
test*
data
scratch
llama2.c


*.pkl
*.pth
*.pt
*.pd
*.bin
*.h5

*.tar
*.zip
*.rar

*.lock
