__pycache__
.vscode
.ipynb_checkpoints
.DS_Store
.data
.vector_cache

my_cache
test_trainer
test-trainer
bert_dataset
trained_model
results
output

src
tmp
test*
data
scratch
llama2.c

*.pkl
*.pth
*.pt
*.pd
*.bin
*.h5

*.tar
*.zip
*.rar

*.lock
