torchtext==0.17.1
portalocker>=2.0.0
#torch==2.2.1
#torchdata==0.7.1
torchmetrics
transformers==4.45.0
#tokenizers==0.20.3
#huggingface-hub==0.27.0
datasets==3.1.0
accelerate==1.0.1
trl==0.11.4
peft
evaluate
bitsandbytes
sacrebleu
rouge_score
sentencepiece==0.2.0
faiss-cpu
nltk==3.9.1
gradio==4.44.1
protobuf==3.20.3
spacy==3.7.2 # conda install
#flash_attn==2.6.3          # /home/loc/Works/flash-attention (need gcc to build)
scikit-learn
plotly
jupyter==1.1.1
wget